/*Desarrollado por Camilo Rivera */

  
  .container {
    width: 350px;
    height: 350px;
    perspective: 1000px;
    
  }
  
  .eye {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 5s linear infinite;
    cursor: pointer;
  }
  
  .iris {
    width: 80%;
    height: 80%;
    background: radial-gradient(#4e99eaa1, rgba(11, 11, 191, 0.68));
   
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
    transform-style: preserve-3d;
    border: solid 7px rgba(0, 0, 0, 0.527);
  }
  
  .pupil {
    width: 40%;
    height: 40%;
    background-color: #050505ad;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 30%;
    transform-style: preserve-3d;
    border: solid 3px rgba(16, 16, 16, 0.591);
  }
  
  .shine {
    width: 20%;
    height: 20%;
    background: radial-gradient(#b1b6bea5, rgba(197, 197, 221, 0.482));
   
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 30%;
    transform-style: preserve-3d;
    border: solid 3px rgba(61, 60, 60, 0.363);
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  
  .pulse {
    animation: pulse-animation 0.5s ease-out;
  }
  
  @keyframes pulse-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .rotateX {
    animation: rotateX 1s ease-in-out;
  }
  
  .rotateY {
    animation: rotateY 1s ease-in-out;
  }
  
  .rotateZ {
    animation: rotateZ 1s ease-in-out;
  }
  
  @keyframes rotateX {
    from {
      transform: rotateX(0deg);
    }
    to {
      transform: rotateX(360deg);
    }
  }
  
  @keyframes rotateY {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  
  @keyframes rotateZ {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
  